<style>
  .navbar {
    overflow: hidden;
  }

  .navbar a{
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }

  .dropdown .dropbtn{
    font-size: 16px;
    border: none;
    padding: 14px 14px 14px 14px;
    background-color: inherit;
    margin: 0;
    margin-bottom:0 !important;
  }

  .navbar a:hover, .dropdown:hover, .dropbtn{
    background-color:#090054;
    color:white;
  }

  .dropdown-content {
    display:none;
    position: absolute;
    background-color:#090054;
    color:white;
    min-width:160px;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
  }

  .nav-link {
    font-size: 16px;
    border: none;
    padding: 14px 14px 14px 14px;
    background-color: inherit;
    color:white;
    margin: 0;
  }

  .dropdown-content a:hover{
    background-color:black;
    color:white;
  }

  .dropdown:hover .dropdown-content {
    display:block;
  }

  #fadein div{
    margin-top:25px;
    font-size:50px;
    text-align:center;
    animation:fadein 4s;
    -webkit-animation:fadein 2s;
  }

  @keyframes fadein {
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  @webkit-keyframes fadein{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
</style>
